<!DOCTYPE html>
<html>
    <head>
        <title> This is the inner page for Amlodipine</title>
    </head>
<link rel="stylesheet" th:href="@{/InnerPages.css}">
<h1 id="h1" > Medications</h1>
<h3 class="generic-name" >Amlodipine</h3>
       <h4> Generic Name:   <span class="inner-page-answers" style="margin-left:50px" > Amlodipine</span>      </h4>  
      
    <div><h4> Brand Name:  <span class="inner-page-answers" style="margin-left:50px" > Norvasc</span></h4>   </div>
           
           
    <h4> Medication Class: <span class="inner-page-answers" style="margin-left:50px" > Antihypertensive</span> </h4>
    <h4> Main Purpose: <span class="inner-page-answers" style="margin-left:50px" > Blood Pressure</span>  </h4>
    <h4> Prescription Quantity: <span class="inner-page-answers" style="margin-left:50px" > 16419181</span>  </h4>
    <h4> Year Of Approval by the FDA: <span class="inner-page-answers" style="margin-left:50px" > 1982</span></h4>
    <h4>Introduction: <span class="inner-page-answers" style="margin-left:50px; " > Amlodipine is commonly used in the treatment of high blood pressure and angina. Amlodipine has antioxidant properties and an ability to enhance the production of nitric oxide. </span> </h4>
    <h4> Medication side effects of the upper body(head to waist line): <span class="inner-page-answers" style="margin-left:50px" > Drowsiness, Nausea, Stomach pain, Headache</span> </h4>
    <h4> Medication side effects of the lower body(waist line to feet): <span class="inner-page-answers" style="margin-left:50px" >Diarrhea </span> </h4>
    <h4> Sample Image:</h4>
        <img class="inner-page-pill-image" src="https://www.grxstatic.com/d4fuqqd5l3dbz/products/DrugItem_23090.JPG";>
        <figcaption class="image-figcaption" >Image may vary based on color, shape, size, manufacture, dosage, and medication form. Please use image as an example. </caption>





</html>
