<!DOCTYPE html>
<html>
    <head>
        <title> This is the inner page for Atorvastatin</title>
    </head>
<link rel="stylesheet" th:href="@{/InnerPages.css}">
<h1 id="h1" > Medications</h1>
<h3 class="generic-name" >Atorvastatin</h3>
       <h4> Generic Name:   <span class="inner-page-answers" style="margin-left:50px" > Atorvastatin</span>      </h4>  
      
    <div><h4> Brand Name:  <span class="inner-page-answers" style="margin-left:50px" > Lipitor</span></h4>   </div>
           
           
    <h4> Medication Class: <span class="inner-page-answers" style="margin-left:50px" > Antihypertensive</span> </h4>
    <h4> Main Purpose: <span class="inner-page-answers" style="margin-left:50px" > cholesterol</span>  </h4>
    <h4> Prescription Quantity: <span class="inner-page-answers" style="margin-left:50px" > 24493971</span>  </h4>
    <h4> Year Of Approval by the FDA: <span class="inner-page-answers" style="margin-left:50px" > 1996</span></h4>
    <h4>Introduction: <span class="inner-page-answers" style="margin-left:50px; " > Atorvastatin is in a class of medications called HMG-CoA reductase inhibitors (statins). It works by slowing the production of cholesterol of the heart, brain, and other parts of the body</span> </h4>
    <h4> Medication side effects of the upper body(head to waist line): <span class="inner-page-answers" style="margin-left:50px" > Drowsiness, Fever, Appetite changes, Sleep changes</span> </h4>
    <h4> Medication side effects of the lower body(waist line to feet): <span class="inner-page-answers" style="margin-left:50px" >Diarrhea, Constipation </span> </h4>
    <h4> Sample Image:</h4>
        <img class="inner-page-pill-image" src="https://www.grxstatic.com/d4fuqqd5l3dbz/products/DrugItem_28240.JPG";>
        <figcaption class="image-figcaption" >Image may vary based on color, shape, size, manufacture, dosage, and medication form. Please use image as an example. </caption>





</html>