<!DOCTYPE html>
<html>
    <head>
        <title> This is the inner page for Hydrocodone&Acetaminophen</title>
    </head>
<link rel="stylesheet" th:href="@{/InnerPages.css}">
<h1 id="h1" > Medications</h1>
<h3 class="generic-name" >Hydrocodone&Acetaminophen</h3>
       <h4> Generic Name:   <span class="inner-page-answers" style="margin-left:50px" > Hydrocodone&Acetaminophen</span>      </h4>  
      
    <div><h4> Brand Name:  <span class="inner-page-answers" style="margin-left:50px" > Norco</span></h4>   </div>
           
           
    <h4> Medication Class: <span class="inner-page-answers" style="margin-left:50px" > Narcotic</span> </h4>
    <h4> Main Purpose: <span class="inner-page-answers" style="margin-left:50px" >Pain</span>  </h4>
    <h4> Prescription Quantity: <span class="inner-page-answers" style="margin-left:50px" > 10409764</span>  </h4>
    <h4> Year Of Approval by the FDA: <span class="inner-page-answers" style="margin-left:50px" > 1923</span></h4>
    <h4>Introduction: <span class="inner-page-answers" style="margin-left:50px; " >Hydrocodone is an opioid used to treat pain and as a cough suppressant.Its an combination of acetaminophen/hydrocodone or ibuprofen/hydrocodone for pain severe enough to require an opioid.  </span> </h4>
    <h4> Medication side effects of the upper body(head to waist line): <span class="inner-page-answers" style="margin-left:50px" >Nausea, Vomiting, Dizziness </span> </h4>
    <h4> Medication side effects of the lower body(waist line to feet): <span class="inner-page-answers" style="margin-left:50px" >Constipation </span> </h4>
    <h4> Sample Image:</h4>
        <img class="inner-page-pill-image" src="https://www.grxstatic.com/d4fuqqd5l3dbz/products/cwf_tms/DrugItem_25709.PNG";>
        <figcaption class="image-figcaption" >Image may vary based on color, shape, size, manufacture, dosage, and medication form. Please use image as an example. </caption>





</html>
