<!DOCTYPE html>
<html>
    <head>
        <title> This is the inner page for Metoprolol</title>
    </head>
<link rel="stylesheet" th:href="@{/InnerPages.css}">
<h1 id="h1" > Medications</h1>
<h3 class="generic-name" >Metoprolol</h3>
       <h4> Generic Name:   <span class="inner-page-answers" style="margin-left:50px" > Metoprolol</span>      </h4>  
      
    <div><h4> Brand Name:  <span class="inner-page-answers" style="margin-left:50px" > Lopressor</span></h4>   </div>
           
           
    <h4> Medication Class: <span class="inner-page-answers" style="margin-left:50px" > Antihypertensive</span> </h4>
    <h4> Main Purpose: <span class="inner-page-answers" style="margin-left:50px" > Blood Pressure</span>  </h4>
    <h4> Prescription Quantity: <span class="inner-page-answers" style="margin-left:50px" > 15177787</span>  </h4>
    <h4> Year Of Approval by the FDA: <span class="inner-page-answers" style="margin-left:50px" > 1969</span></h4>
    <h4>Introduction: <span class="inner-page-answers" style="margin-left:50px; " > Metoprolol is an treatment for angina, heart failure, myocardial infarction, atrial fibrillation/flutter, and hypertension. </span> </h4>
    <h4> Medication side effects of the upper body(head to waist line): <span class="inner-page-answers" style="margin-left:50px" >Dry mouth, Dizziness, Headache, Nausea </span> </h4>
    <h4> Medication side effects of the lower body(waist line to feet): <span class="inner-page-answers" style="margin-left:50px" >Constipation, Diarrhea, Gas </span> </h4>
    <h4> Sample Image:</h4>
        <img class="inner-page-pill-image" src="https://www.grxstatic.com/d4fuqqd5l3dbz/products/tms/DrugItem_18553.JPG";>
        <figcaption class="image-figcaption" >Image may vary based on color, shape, size, manufacture, dosage, and medication form. Please use image as an example. </caption>





</html>
