<!DOCTYPE html>
<html>
    <head>
        <title> This is the inner page for Albuterol</title>
    </head>
<link rel="stylesheet" th:href="@{/InnerPages.css}">
<h1 id="h1" > Medications</h1>
<h3 class="generic-name" >Albuterol</h3>
       <h4> Generic Name:   <span class="inner-page-answers" style="margin-left:50px" > Albuterol</span>      </h4>  
      
    <div><h4> Brand Name:  <span class="inner-page-answers" style="margin-left:50px" > Ventolin</span></h4>   </div>
           
           
    <h4> Medication Class: <span class="inner-page-answers" style="margin-left:50px" > bronchodilators</span> </h4>
    <h4> Main Purpose: <span class="inner-page-answers" style="margin-left:50px" > Asthma</span>  </h4>
    <h4> Prescription Quantity: <span class="inner-page-answers" style="margin-left:50px" > 19085418</span>  </h4>
    <h4> Year Of Approval by the FDA: <span class="inner-page-answers" style="margin-left:50px" > 1972</span></h4>
    <h4>Introduction: <span class="inner-page-answers" style="margin-left:50px; " >Albuterol is used to prevent and treat difficulty breathing, wheezing, shortness of breath, coughing, and chest tightness caused by lung diseases such as asthma and chronic obstructive pulmonary disease.  </span> </h4>
    <h4> Medication side effects of the upper body(head to waist line): <span class="inner-page-answers" style="margin-left:50px" > Headache, Lung pain, Heart rate change</span> </h4>
    <h4> Medication side effects of the lower body(waist line to feet): <span class="inner-page-answers" style="margin-left:50px" >Urine change </span> </h4>
    <h4> Sample Image:</h4>
        <img class="inner-page-pill-image" src="https://medipond.com/media/catalog/product/cache/4a352fbd54eb769bd8ae1a807b51d625/3/7/3740719l_9.jpg";>
        <figcaption class="image-figcaption" >Image may vary based on color, shape, size, manufacture, dosage, and medication form. Please use image as an example. </caption>





</html>
