<!DOCTYPE html>
<html>
    <head>
        <title> This is the inner page for Losartan</title>
    </head>
<link rel="stylesheet" th:href="@{/InnerPages.css}">
<h1 id="h1" > Medications</h1>
<h3 class="generic-name" >Losartan</h3>
       <h4> Generic Name:   <span class="inner-page-answers" style="margin-left:50px" > Losartan</span>      </h4>  
      
    <div><h4> Brand Name:  <span class="inner-page-answers" style="margin-left:50px" > Cozaar</span></h4>   </div>
           
           
    <h4> Medication Class: <span class="inner-page-answers" style="margin-left:50px" > Antihypertensive</span> </h4>
    <h4> Main Purpose: <span class="inner-page-answers" style="margin-left:50px" > Blood Pressure</span>  </h4>
    <h4> Prescription Quantity: <span class="inner-page-answers" style="margin-left:50px" > 11760646</span>  </h4>
    <h4> Year Of Approval by the FDA: <span class="inner-page-answers" style="margin-left:50px" > 1986</span></h4>
    <h4>Introduction: <span class="inner-page-answers" style="margin-left:50px; " > Losartan is an angiotensin II receptor blocker (ARB) used to treat hypertension. </span> </h4>
    <h4> Medication side effects of the upper body(head to waist line): <span class="inner-page-answers" style="margin-left:50px" >Nausea, Vomiting, Dizziness </span> </h4>
    <h4> Medication side effects of the lower body(waist line to feet): <span class="inner-page-answers" style="margin-left:50px" >Weakness of legs </span> </h4>
    <h4> Sample Image:</h4>
        <img class="inner-page-pill-image" src="https://www.grxstatic.com/d4fuqqd5l3dbz/products/tms/DrugItem_13169.JPG";>
        <figcaption class="image-figcaption" >Image may vary based on color, shape, size, manufacture, dosage, and medication form. Please use image as an example. </caption>





</html>
